<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.ssm.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.zys.ssm.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="create" parameterType="User">
        insert into user values(#{id},#{name},#{phone},#{phone})
    </insert>

    <update id="update" parameterType="User">
        update user set name=#{name},phone=#{phone} where id=#{id}
    </update>

    <delete id="delByArr">
        delete from user where id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

    <select id="getOneById" resultMap="BaseResultMap">
        select * from user where id=#{id};
    </select>

    <select id="getList" resultType="User">
        select * from user limit #{page},#{limit}
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        select count(1) from user
    </select>
</mapper>